<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contacto</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="style.css"> 
  <link rel="stylesheet" href="contacto.css"> 
</head>
<body>   
    <nav class="navbar">
        <div class="logo">
            <a href="practica.html">
                <img src="images/logotipo.png" alt="Logo">
            </a>
        </div>
        <div class="lol">
            <a href="practica.html">Inicio</a>
            <a href="#">Servicios</a>
            <a href="#">Solicitar Cotización</a>
            <a href="contacto.html" class="active">Contáctanos</a>
            <a href="faq.html">FAQ</a>
            <a href="login.html">Log in</a>
        </div>
    </nav>

    <div class="contact-container">
        <h1>Contáctanos</h1>
        <div class="contact-wrapper">
            
            <div class="contact-form">
                <form action="#">
                    <input type="nombre" placeholder="Nombre" required>
                    <input type="email" placeholder="Correo" required>
                    <input type="telefono" placeholder="Telefono" required>
                    <textarea placeholder="Mensaje" required></textarea>
                    <button type="enviar">Enviar</button>
                </form>
            </div>
            
        <div class="contact-details">
            <div class="map-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.5594494277793!2d-69.95422872518309!3d18.458301382623194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ea56201bd7941db%3A0xa91070b7465594a0!2sCdc%20Graphics!5e0!3m2!1sen!2sdo!4v1757969990669!5m2!1sen!2sdo" 
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                
        </div>
                
                <div class="whatsapp-box">
                    <h3>Contáctanos por WhatsApp</h3>
                    <p>¿Necesitas una respuesta rápida? Escríbenos por WhatsApp y te atenderemos de inmediato.</p>
                    <a href="#" class="whatsapp-button">Escribir por WhatsApp</a>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
