<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="contacto.css">  
  <link rel="stylesheet" href="faq.css"> 

</head>
<body>  
    <nav class="navbar">
     <div class="logo">
        <a href="#">
            <img src="images/logotipo.png" alt="Logo"></a></div>
        <div class="lol">
            <a href="practica.html">Inicio</a>
            <a href="#">Servicios</a>
            <a href="#">Solicitar Cotización</a>
            <a href="contacto.html">Contáctanos</a>
            <a href="faq.html" class="active">FAQ</a>
        </div>
  </nav>

  <section class="faq-container">
    <div class="faq-header">
      <h1>Preguntas frecuentes</h1>
      <p>Encuentra respuestas a las consultas más comunes.</p>
    </div>

    <div class="faq-item">
      <div class="faq-question">
        <h2>¿Cuáles Son Sus Plazos De Entrega?</h2>
        <span class="faq-toggle">+</span>
      </div>

      <div class="faq-answer">
        <p>Nuestros plazos de entrega varían según el tipo de proyecto, pero siempre nos comprometemos a cumplir con los tiempos acordados.</p>
      </div>
    </div>

    <div class="faq-item">
      <div class="faq-question">
        <h2>¿Ofrecen Servicios De Diseño Gráfico?</h2>
        <span class="faq-toggle">+</span>
      </div>

      <div class="faq-answer">
        <p>Sí, contamos con este servicio expertos para ayudarte a materializar tus ideas.</p>
      </div>
    </div>

    <div class="faq-item">
      <div class="faq-question">
        <h2>¿Pueden Manejar Grandes Volúmenes De Impresión?</h2>
        <span class="faq-toggle">+</span>
      </div>

      <div class="faq-answer">
        <p>Absolutamente, estamos preparados para gestionar proyectos de impresión a gran escala con eficiencia y calidad.</p>
      </div>
    </div>

  </section>
    <script src="js/script.js"></script>

</body>
</html>
