<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Diseño Web</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="css/style.css"> 
</head>
<body>  
    <nav class="navbar">
     <div class="logo">
        <a href="#">
            <img src="images/logotipo.png" alt="Logo"></a></div>
        <div class="lol">
            <a href="practica.html" class="active">Inicio</a>
            <a href="servicios.html">Servicios</a>
            <a href="contacto.html">Contáctanos</a>
            <a href="faq.html">FAQ</a>
            <a href="login.html">Log in</a>
            
        </div>
  </nav>
<div class="slider-container">
    <div class="slide">
        <img src="images/slider/slide1.jpg" alt="Imagen 1">
    </div>
    <div class="slide">
        <img src="images/slider/slide2.jpg" alt="Imagen 2">
    </div>
    <div class="slide">
        <img src="images/slider/slide3.jpg" alt="Imagen 3">
    </div>
    </div>

<script src="js/slider.js"></script> 

 <section class="hero">
    <img src="https://th.bing.com/th/id/R.d2a9412e7c9c89b19558874598094249?rik=vKQLDI6OSDWMmA&pid=ImgRaw&r=0" alt="Fondo">
  </section>

</body>
</html>
