<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar</title>
  <link rel="stylesheet" href="style.css"> 

</head>
<body>  
    <nav class="navbar">
    <div class="logo"><a href="#">Flower<span class="punto">.</span></a></div>
        <div class="lol">
            <a href="#">Inicio</a>
            <a href="#">Servivios</a>
            <a href="#">Soliticar Cotización</a>
            <a href="#">Cóntactanos</a>
            <a href="#">FAQ</a>
        </div>
      <div class="acciones">
      <span class="icon"><a href="#">🖤</a></span>
      <span class="icon"><a href="#">🛒</a></span>
      <span class="icon"><a href="#">👤</a></span>
    </div>
  </nav>
  
    <section class="hero">
    <img src="https://th.bing.com/th/id/R.d2a9412e7c9c89b19558874598094249?rik=vKQLDI6OSDWMmA&pid=ImgRaw&r=0" alt="Fondo">
  </section>

</body>
</html>
        