<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Servicios</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="css/style.css"> 
  <link rel="stylesheet" href="css/servicios.css">
  <link rel="stylesheet" href="css/faq.css">
  <link rel="stylesheet" href="css/contacto.css">
</head>
<body>

  <nav class="navbar">
     <div class="logo">
        <a href="#">
            <img src="images/logotipo.png" alt="Logo"></a></div>
        <div class="lol">
            <a href="practica.html">Inicio</a>
            <a href="servicios.html" class="active">Servicios</a>
            <a href="contacto.html">Contáctanos</a>
            <a href="faq.html">FAQ</a>
            <a href="login.html">Log in</a>
            
        </div>
  </nav>

   <div class="container">
        <h1>Servicios</h1>
  
        <div class="grid" id="grid">        
      
   </div>

  </div>

  <script>
    async function cargarProductos() {
      let res = await fetch("/productos");
      let productos = await res.json();
      const grid = document.getElementById("grid");
      grid.innerHTML = productos.map(p => `
        <div class="card">
          <img src="${p.imagen}" alt="${p.titulo}">
          <h3>${p.titulo}</h3>
          <p>${p.descripcion}</p>
        </div>
      `).join("");
    }
    cargarProductos();
  </script>
</body>
</html>
