
html {
  height: 50%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.login-container {
    max-width: 500px;
    margin: 0px auto 40px;
    padding: 120px 20px 40px 20px;
    padding-top: 200px;
    box-sizing: border-box;
    background-color: #ffffff; 
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.26);
    text-align: center;
}

.login-container h1 {
    font-size: 28px;
    margin-bottom: 25px;
    color: #333;
    font-weight: bold;
}

.login-form input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
}

.login-form button {
    width: 100%;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    background-color: #2ecc71; 
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #27ae60;
}

.register-text {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}

.register-text a {
    color: #2ecc71;
    font-weight: bold;
    text-decoration: none;
}

.register-text a:hover {
    text-decoration: underline;
}



